
    /*colors: https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=546E7A */
    $background-color: #e1e2e1;
    $main-color:#546e7a;
    $text-color:white;
    $text-color-highlight:red;
    $main-color-dark:#29434e; 
    $main-color-light:#819ca9; 

  