#pageName{
    display: inline-block;
  }
  #pageNav{
    display: inline-block;
    float: right;
  }
main{
  padding: 15px;
  height: calc(100vh - 115px);
}
.hidden{
  display: none !important;
}

  
  